 {% load widget_tweaks %}
 <form hx-post="{% url 'entreprise:depot-ajouter' branche_id %}" >
        {% csrf_token %}
        <div class="border-bottom mb-3 pb-3">
            <div class="card-title-head">
                <h6 class="fs-16 fw-bold mb-2">
                    <span class="fs-16 me-2"><i class="ti ti ti-building-store"></i></span>
                    Details
                </h6>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-1">
                        <label class="form-label">
                            Code du dépôt
                            <span class="text-danger">*</span>
                        </label>
                        {% render_field form.code_depot class="form-control " %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="mb-1">
                        <label class="form-label">
                            Nom de la branche
                            <span class="text-danger">*</span>
                        </label>
                        {% render_field form.nom class="form-control " %}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-1">
                        <label class="form-label">
                            Adresse du dépôt
                            <span class="text-danger">*</span>
                        </label>
                        {% render_field form.adresse class="form-control " %}
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="card-title-head">
                <h6 class="fs-16 fw-bold mb-3">
                    <span class="fs-16 me-2"><i class="ti ti-menu-2"></i></span> 
                    Autres
                </h6>
            </div>

            <div class="row align-items-center">
                <div class="col-sm-4">
                    <div class="setting-info">
                        Dépôt principal
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="localization-select d-flex align-items-center">
                        <div class="status-toggle modal-status d-flex justify-content-between align-items-center me-3">
                            {% render_field form.est_principal class="check" %}
                            <label for="id_est_principal" class="checktoggle"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-sm-4">
                    <div class="setting-info">
                        Activer ou désactiver le dépôt
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="localization-select d-flex align-items-center">
                        <div class="status-toggle modal-status d-flex justify-content-between align-items-center me-3">
                            {% render_field form.est_actif class="check" %}
                            <label for="id_est_actif" class="checktoggle"></label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="text-end settings-bottom-btn mt-0">
            <a hx-get="{% url 'entreprise:depot-liste' branche_id %}" hx-target="body" hx-push-url="true"
                class="btn btn-secondary me-2">Annuler</a>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>